.asetting-info-container{
    background-color: #ffffff;
    border-right: 1px solid #D3D3D3;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.asetting-container{
    padding-top: 60px;
}

.asetting-row{
    padding: 0 15px;
}

.asetting-avatar{
    margin: 0 auto;
}

.asetting-title{
    padding-left: 1rem;
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #FF606D;
    margin-bottom: 30px;
    text-align: center;
}

.asetting-label-description{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}

.asetting-name{
    font-weight: bold;
    font-size: 26px;
    margin-top: 10px;
}

.asetting-smalltext{
    color: rgba(25, 25, 25, 0.5);
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
}

.asetting-smalltext-end{
    color: rgba(25, 25, 25, 0.5);
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
}

.asetting-num{
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.asetting-views{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.asetting-likes{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.asetting-icon{
    width: 30px;
    text-align: center;
    margin-right: 10px;
}

.asetting-form-container{
    background-color: #ffffff;
}

.asetting-line{
    margin: 0 10px;
    border-bottom: 2px solid #D3D3D3;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.asetting-tab{
    font-weight: bold;
    color: rgba(25, 25, 25, 0.6);
    margin: 10px 0;
}

.asetting-form-group{
    margin-top: 20px;
}

.asetting-input-name{
    border: 0!important;
    border-bottom: 1px solid #e5e5e5!important;
    outline: none;
    border-radius: 0px!important;
    color: rgba(0, 0, 0, 0.6)!important;
}

.asetting-input-name:focus{
    border: 0!important;
    border-bottom: 1px solid #FF5F6D!important;
    outline: none!important;
    box-shadow: none!important;
    border-radius: 0px;
    
}

.asetting-label-name{
    position: relative;
    top: -28px;
    color: rgba(0, 0, 0, 0.6);
}

.asetting-dropdown{
    
}

.asetting-dropdown-color{
    color: rgba(0, 0, 0, 0.6)!important;
 
}

.asetting-dropdown-color:focus{
    color: #FF5F6D!important;
 
}

.asetting-option{

}

.asetting-input-description{
    border: 0!important;
    border-bottom: 1px solid #e5e5e5!important;
    outline: none;
    border-radius: 0px!important;
    height: calc(2.25rem + 2px)!important;
    color: rgba(0, 0, 0, 0.6)!important;
}

.asetting-input-description:focus{
    border: 0!important;
    border-bottom: 1px solid #FF5F6D!important;
    outline: none!important;
    box-shadow: none!important;
    border-radius: 0px;
    color: #FF5F6D!important;
}

.asetting-button-container{
    height: 60px;
    margin-top: 24px;
}

.btn-pink{
    width: 100px;
    float: right;
    background-color: #ffffff;
    color: #FF5F6D;
    border:1px solid #FF5F6D!important;
}

.btn-pink:hover{
    width: 100px;
    float: right;
    background-color: #FF5F6D;
    color: #ffffff;
}

.form-control[readonly]{
    background-color: #ffffff!important;
}

.asetting-label-gender{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}

.asetting-label-date{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}

.asetting-datepicker{
    display: block;
}

.asetting-label-email{
    position: relative;
    top: -28px;
    color: rgba(0, 0, 0, 0.6);
}

.asetting-input-email{
    border: 0!important;
    border-bottom: 1px solid #e5e5e5!important;
    outline: none;
    border-radius: 0px!important;
    color: rgba(0, 0, 0, 0.6)!important;
}

.asetting-input-email:focus{
    outline: none!important;
    box-shadow: none!important;
    border-radius: 0px;
    
}

.asetting-avatar-cover{
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #D3D3D3;
}

.asetting-image-upload{
    display: block;
}

.asetting-datepicker-wrapper{
    width: 100%;
}

.asetting-datepicker-popper{
    
}

.react-datepicker__triangle{
    left: 200px!important;
}