.asetting-info-container{
    background-color: #ffffff;
    border-right: 1px solid #D3D3D3;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.asetting-container{
    padding-top: 74px;
}

.asetting-container-child{
    box-shadow: 0px 0px 7px darkgrey;
    background-color: #ffffff;
}

.asetting-row{
    padding: 0 15px;
}

.asetting-avatar{
    margin: 0 auto;
}

.asetting-title{
    padding-left: 1rem;
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #FF606D;
    margin-bottom: 30px;
}

.asetting-title-tab2{
    padding-left: 1rem;
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #FF606D;
}

.asetting-label-description{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}

.asetting-name{
    font-weight: bold;
    font-size: 24px;
    margin-top: 10px;
}

.asetting-smalltext{
    color: rgba(25, 25, 25, 0.5);
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
}

.asetting-smalltext-end{
    color: rgba(25, 25, 25, 0.5);
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
}

.asetting-num{
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.asetting-views{
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.asetting-likes{
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.asetting-icon{
    width: 30px;
    text-align: center;
    margin-right: 10px;
}

.asetting-form-container{
    background-color: #ffffff;
    min-height: 796px!important;
}

.asetting-line{
    margin: 0 10px;
    border-bottom: 2px solid #D3D3D3;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.asetting-tab{
    font-weight: bold;
    color: rgba(25, 25, 25, 0.6);
    margin: 10px 0;
    cursor: pointer;
    padding: 5px 0;
    border-radius: 10px;
}

.asetting-tab:hover{
    color: #ffffff;
    background-color: #FF606D;
}

.asetting-tab-active{
    font-weight: bold;
    color: #FF606D;
    margin: 10px 0;
    cursor: pointer;
    padding: 5px 0;
    border-radius: 10px;
}

.asetting-tab-active:hover{
    color: #ffffff;
    background-color: #FF606D;
}

.asetting-form-group{
    margin-top: 20px;
}

.asetting-input-name{
    border: 0!important;
    border-bottom: 1px solid #e5e5e5!important;
    outline: none;
    border-radius: 0px!important;
    color: rgba(0, 0, 0, 0.6)!important;
}

.asetting-input-name:focus{
    border: 0!important;
    border-bottom: 1px solid #FF5F6D!important;
    outline: none!important;
    box-shadow: none!important;
    border-radius: 0px;
    
}

.asetting-label-name{
    position: relative;
    top: -28px;
    color: rgba(0, 0, 0, 0.6);
}

.asetting-dropdown{
    
}

.asetting-dropdown-color{
    color: rgba(0, 0, 0, 0.6)!important;
 
}

.asetting-dropdown-color:focus{

 
}

.asetting-option{

}

.asetting-date-text{
    color: rgba(0, 0, 0, 0.6)!important;
}

.asetting-description{
    color: rgba(0, 0, 0, 0.6)!important;
}

.asetting-input-description{
    border: 0!important;
    border-bottom: 1px solid #e5e5e5!important;
    outline: none;
    border-radius: 0px!important;
    height: calc(2.25rem + 2px)!important;
    color: rgba(0, 0, 0, 0.6)!important;
}

.asetting-input-description:focus{
    border: 0!important;
    border-bottom: 1px solid #FF5F6D!important;
    outline: none!important;
    box-shadow: none!important;
    border-radius: 0px;
    color: #FF5F6D!important;
}

.asetting-button-container{
    height: 60px;
    margin-top: 24px;
}

.btn-pink{
    width: 100px;
    float: right;
    background-color: #ffffff;
    color: #FF5F6D;
    border:1px solid #FF5F6D!important;
}

.btn-pink:hover{
    width: 100px;
    float: right;
    background-color: #FF5F6D;
    color: #ffffff;
}

.form-control[readonly]{
    background-color: #ffffff!important;
}

.asetting-form {
    padding: 0 60px;
}

.asetting-label-gender{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}

.asetting-label-date{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}

.asetting-datepicker{
    display: block;
}

.asetting-label-email{
    position: relative;
    top: -28px;
    color: rgba(0, 0, 0, 0.6);
}

.asetting-input-email{
    border: 0!important;
    border-bottom: 1px solid #e5e5e5!important;
    outline: none;
    border-radius: 0px!important;
    color: rgba(0, 0, 0, 0.6)!important;
}

.asetting-input-email:focus{
    outline: none!important;
    box-shadow: none!important;
    border-radius: 0px;
    
}

.asetting-avatar-cover{
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 1px solid #D3D3D3;
}

.asetting-image-upload{
    display: block;
    color: rgba(0, 0, 0, 0.6);
}

.asetting-datepicker-wrapper{
    width: 100%;
}

.asetting-datepicker-popper{
    
}

.react-datepicker__triangle{
    left: 200px!important;
}

.asetting-image-container{
    width: 100%;
    height: 206px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    background-size: cover;
    background-position: center;
    color:#fff;
    font-size: 18px;
}

.asetting-image-container .item-cover{
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 20%);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    opacity: 1; 
    transition: all 0.5s;
    border-radius: 10px;
}

.asetting-image-container:hover .item-cover{
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
}

.asetting-image-container .item-cover .asetting-icon-edit{
    transform: scale(1);
    transition: all 0.5s;
    cursor: pointer;
}

.asetting-image-container:hover .item-cover .asetting-icon-edit{
    transform: scale(2) translate(-50px, -40px);
}
.asetting-image-container .item-cover .asetting-icon-delete{
    transform: scale(1);
    transition: all 0.5s;
    cursor: pointer;
}

.asetting-image-container:hover .item-cover .asetting-icon-delete{
    transform: scale(2) translate(-12px, -40px);
}

.asetting-image-container .item-cover .asetting-icon-line{
    display: block; 
    position: relative;
    top: -3px;
    right: 5px;
    width: 2px; 
    background: #ffffff; 
    height: 28px;
    transform: scale(1);
    transition: all 0.5s;
}

.asetting-image-container:hover .item-cover .asetting-icon-line{
    transform: scale(2) translate(-35px, -40px);
   
}

.asetting-item-title a{
    color: #212529;
}

.asetting-item-title:hover a{
    color: #212529;
    text-decoration: none;
}

.asetting-item-title{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
}

.asetting-item-title a{
    color: #212529;
}

.asetting-item-title:hover a{
    color: #212529;
    text-decoration: none;
}

.asetting-status-container{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    
}

.asetting-label{
    font-weight: bold;
}

.asetting-status{
    color: #01CE47;
}

.asetting-view-container{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 5px;  
}

.asetting-see-more{
    justify-content: center;
    font-weight: bold;
    padding-bottom: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn-more{  
    width: 120px;
    float: right;
    background-color: #FF5F6D;
    font-weight: bold!important;
    font-size: 12px!important;
    color: #ffffff;
    border:1px solid #FF5F6D!important;
    border-radius: 20px!important;
}

.btn-more:hover{
    background-color: #ffffff;
    color: #FF5F6D;
}

.btn-more-pink{  
    width: 120px;
    float: right;
    background-color: #ffffff;
    font-weight: bold!important;
    font-size: 12px!important;
    color: #FF5F6D;
    border:1px solid #FF5F6D!important;
    border-radius: 20px!important;
}

.btn-more-pink:hover{
    background-color: #FF5F6D;
    color: #ffffff;
}

.swal-button--login{
    color: #FF5F6D!important;
    background-color: #ffffff!important;
    border:1px solid #FF5F6D!important;
}

.swal-button--login:hover{
    color: #ffffff!important;
    background-color: #FF5F6D!important;
}

.asetting-icon-edit{
    padding-right: 10px;
    padding-bottom: 5px;
}

.asetting-icon-delete{
    padding-right: 10px;
    padding-bottom: 5px;
}