.parent-content {
    /* Location of the image */
    background-image: url("/images/background-img.png");
    
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    
    /* Background image is fixed in the viewport so that it doesn't move when 
       the content's height is greater than the image's height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;
    
    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: #464646;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.content-wrapper {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 15px rgba(50, 50, 50, 0.7);
    height: auto;
    width: 40%;
    overflow: auto;
    background-color: white !important;
    display: inline-flex;
    margin: auto;
    justify-content: center;
}

.verify-content-wrapper {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 15px rgba(50, 50, 50, 0.7);
    height: auto;
    overflow: auto;
    background-color: white !important;
    display: inline-flex;
    margin: auto;
    justify-content: center;
}

.form-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: center;
    padding: 5px 15px 0 15px;
}

.back-container {
    width: 16.91px;
    height:12.3px;
}

.logo-container {
    margin: 0 auto;
}

.resend-btn-container {
    height: auto;
    max-width: 239px;
    max-height: 42px;
    margin: 5px auto 10px auto;
}

.resend-btn {
    background-color: #FF5F6D;
    color: #ffffff;
    font-size: 20px;
    border-radius: 27px;
    padding: 6px 62px;
    border-width: 0px;
    cursor: pointer;
}

.resend-btn:hover{
    background-color: #fa4857;
}

.resend-btn:focus{
    outline: none!important;
}

.resend-btn-inactive {
    background-color: #FF5F6D;
    color: #ffffff;
    font-size: 20px;
    border-radius: 27px;
    padding: 6px 62px;
    border-width: 0px;
    cursor: default;
    opacity: 0.7;
}

.resend-btn-inactive:focus{
    outline: none!important;
}

.quest-text {
    font-size: 15px;
    color: #464646;
    margin-top: 10px;
}
.main-content{
    padding: 0 40px;
}


@media only screen and (max-width: 1000px) {
     .content-wrapper {
        width: 60%;
    }   

}

@media only screen and (max-width: 750px) {
    .content-wrapper {
        width: 80%;
    } 
}

@media only screen and (max-width: 450px) {

    .content-wrapper {
        width: 90%;
    }

}

@media only screen and (max-width: 400px) {
    .main-content{
        padding: 0 10px;
    }
}




.text-container {
    font-weight: 500;
}


.justify-content {
    margin: 0 auto;
}

.confirm-alert{
    font-size: 12px;
}

.forgot-text{
    width: 65%;
    margin: 10px auto;
    font-size: 14px;
    text-align: left;
}

.forgot-btn-container{
    margin-bottom: 30px;
}

.forgot-title{
    margin-top: 10px;
}

.forgot-logo-container{
    margin-top: 20px;
    margin-left: auto;
}

.forgot-alert{
    font-size: 12px;
    margin-top: 1rem;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

/*ISSUE FIX*/
.login-uap-input {
    border: 0!important;
    border-bottom: 1px solid #e5e5e5!important;
    outline: none;
    border-radius: 0px!important;
    color: rgba(0, 0, 0, 0.6)!important;
}

.login-uap-input:focus{
    border: 0!important;
    border-bottom: 1px solid #FF5F6D!important;
    outline: none!important;
    box-shadow: none!important;
    border-radius: 0px;
    color: #FF5F6D!important;
    
}

.create-label-name {
    position: relative;
    top: -28px;
    color: rgba(0, 0, 0, 0.6);
}

.input-container input:focus + .forgot-email-input label{
    top:-60px;
    transition-duration: 0.5s;
    color: #FF5F6D;
    font-size: 12px;
}

 .input-container input:not(:placeholder-shown) + label {
    top:-52px;
    font-size: 12px;
} 

.form-wrapper {
    display: flex;
    justify-content: center;
}

.input-container {
    width: 70%;
}

.input-container-login {
    width: 100% !important;
}

.forgot-email-input {
    float: left;
    padding-left: 5px;
    height: 15px;
}

.input-rs-pwd {
    width: 100%;
}


