.timeline {
    margin: 90px 0px;
    height: 4px;
    background-color: #ccc;
  }
  
  .timeline-progress {
      width: 0;
      height: 100%;
      background-color: #FF5F6D;
  }
  
  .timeline-items {
      margin-left: -10px;
      margin-right: -10px;
      margin-top: -27px;
      display: flex;
      justify-content: space-around;
  }
  
  .timeline-item {
      position: relative;
  }
  
  .timeline-item::before {
      content: '';
      width: 50px;
      height: 50px;
      background-color: #ccc;
      display: block;
      border-radius: 100%;

  }
  
  .timeline-number{
      color: #ffffff;
      position: relative;
      top: -45px;
      left: 17px;
      font-size: 25px;
      font-weight: bold;
  }

  .timeline-name{
    position: relative;
    top: -120px;
    left: -19px;
    font-size: 16px;
    color: #FF5F6D;
    
  }

  .timeline-content {
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #ddd;
      width: 100px;
      padding: 5px 10px;
      border-radius: 5px;
      text-align: center;
  }
  
  .timeline-content::before {
      content: '';
      width: 10px;
      height: 10px;
      background-color: #ddd;
      display: block;
      position: absolute;
      top: -8px;
      margin-left: -2px;
      left: 50%;
      transform: rotate(-45deg) translateX(-50%);
  }
  
  .timeline-item.active::before {
      background-color: #FF5F6D;
  }
  
  .timeline-item.active .timeline-content {
      color: #fff;
      background-color: #FF5F6D;
  }
  
  .timeline-item.active .timeline-content::before {
      background-color: #FF5F6D;
  }

  .timeline-item.done::before {
    background-color: #ffffff;
    border: 1px solid #FF5F6D;
}

.timeline-item.done .timeline-content {
    color: #FF5F6D;
    background-color: #ffffff;
}

.timeline-item.done .timeline-content::before {
    background-color: #ffffff;
}

.timeline-number.done{
    color: #FF5F6D!important;
}
.timeline-item.done{
    cursor: pointer;
}

  .create-bg-white{
      background-color: #ffffff;
      padding-right: 0px!important;
      padding-left: 0px!important;
      padding-top: 74px;
      box-shadow: 0px 0px 7px darkgrey;
  }

  .previewText{
      text-align: center;
      cursor: pointer;
      height:400px; 
      background-color:#EFEFEF;
  }
  .create-step1-image{
    width: 250px;
  }

  .create-post-image {
    width: 250px;
  }
  
  .create-txt-field1{
    font-size: 40px;
    font-weight: bold;
    color: rgba(51, 25, 25, 0.6);
  }

  .create-txt-field2{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.6);
}

  .create-txt-field3{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.6);
}

.create-form{
    padding: 0 100px;
}

.create-input-name{
    border: 0!important;
    border-bottom: 1px solid #e5e5e5!important;
    outline: none;
    border-radius: 0px!important;
    color: rgba(0, 0, 0, 0.6)!important;
}

.create-input-description{
    border: 0!important;
    border-bottom: 1px solid #e5e5e5!important;
    outline: none;
    border-radius: 0px!important;
    color: rgba(0, 0, 0, 0.6)!important;
}


.create-input-name:focus{
    border: 0!important;
    border-bottom: 1px solid #FF5F6D!important;
    outline: none!important;
    box-shadow: none!important;
    border-radius: 0px;
    color: #FF5F6D!important;
    
}

.create-input-description:focus{
    border: 0!important;
    border-bottom: 1px solid #FF5F6D!important;
    outline: none!important;
    box-shadow: none!important;
    border-radius: 0px;
    color: #FF5F6D!important;
}

.form-group input:focus + label{
    top:-52px;
    transition-duration: 0.5s;
    color: #FF5F6D;
    font-size: 12px;
}

.form-group input + label{
    transition-duration: 0.5s;
}

 .form-group input:not(:placeholder-shown) + label {
    top:-52px;
    font-size: 12px;
} 

.form-group textarea:focus + label{
    top:-106px;
    transition-duration: 0.5s;
    color: #FF5F6D;
    font-size: 12px;
}

.form-group textarea + label{
    transition-duration: 0.5s;
}

 .form-group textarea:not(:placeholder-shown) + label {
    top:-106px;
    font-size: 12px;
} 

.create-label-name{
    position: relative;
    top: -28px;
    color: rgba(0, 0, 0, 0.6);
}

.create-form-group{
    margin-top: 10px;
}

.create-form-group-name{
    margin-top: 42px;
}

.create-form-group-description{
    margin-bottom: 0px!important;
}

.create-form-group-youtube{
    margin-bottom: 3px!important;
}

.create-mini-text{
    font-size: 12px;
}

.create-button-container{
    height: 72px;
}

.create-button-container-step2{
    height: 60px;
}

 .create-form-group-maining{
     margin-top: 32px; 
     margin-bottom: 0px!important;
 }

 .create-form-group-ingre{
     margin-top: 10px;
     margin-bottom: 0px!important;
 }

.btn-pink{
    width: 100px;
    float: right;
    background-color: #ffffff;
    color: #FF5F6D;
    border:1px solid #FF5F6D!important;
}

.btn-pink:hover{
    width: 100px;
    float: right;
    background-color: #FF5F6D;
    color: #ffffff;
}

.btn-gray{
    width: 100px;
    background-color: #C4C4C4;
    color: #ffffff;
}

.btn-gray:hover{
    background-color: #8F8E8E;
}

.create-txt-field4{
    color: #331919;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}

.create-add-btn-container{
    text-align: center;
}

.create-add-ingre{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border: 2px solid #FF5F6D;
    color: #FF5F6D;
    font-size: 28px;
    cursor: pointer;
    margin-top: 4px;
    margin-bottom: 36px;
}

.create-add-ingre:focus{
    outline: none!important;
}

.create-add-ingre:hover{
    outline: none!important;
    background-color: #FF5F6D;
    color: #ffffff;
}

.create-add-ingre-step3{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border: 2px solid #FF5F6D;
    color: #FF5F6D;
    font-size: 28px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 36px;
}

.create-add-ingre-step3:focus{
    outline: none!important;
}

.create-add-ingre-step3:hover{
    outline: none!important;
    background-color: #FF5F6D;
    color: #ffffff;
}

.create-close-btn{
    color: #FF5F6D;
    background-color: transparent;
    border: none;
    position: relative;
    top: -30px;
    cursor: pointer;
}

.create-close-btn:focus{
    outline: none!important;
}

.create-close-btn:hover{
    transform: scale(1.5);
}

.create-dropdown-color{
    color: rgba(0, 0, 0, 0.6)!important;
 
}

.create-mr{
    margin-right: 10px;
}

.create-step-title{
    color: #FF5F6D;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 30px;
}

.create-image-placeholder, .create-image-placeholder2 {
    width: 100%;
    height: 250px;
    background-color: #EFEFEF;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.create-steps-textarea{
    width: 100%;
    height: 100%;
    resize: none;
    border: 0!important;
    border-bottom: 1px solid #e5e5e5!important;
    font-size: 20px;
}

.create-steps-textarea:focus{
    border-bottom: 1px solid #FF5F6D!important;
    color: #FF5F6D;
}

.create-delete-step{
    color: #ffffff;
    background-color: #FCB49E;
    border: none;
    position: relative;
    top: -16px;
    cursor: pointer;
    width: 100px;
    height: 35px;
    right: 0px;
}

.create-delete-step:hover{
    background-color: #FF5F6D;
}

.create-delete-btn{
    height: 10px;
    text-align: right;
}

.empty-block {
    height: 50px;
}

label, input {
    transition: 0.5s;
}

.create-dropdown-style {
    border: 0 !important;
    border-bottom: 1px solid #FF5F6D !important;
    border-radius: 0 !important;
}

.create-dropdown-style:focus {
    outline: hidden !important;
    color: #FF5F6D!important;
    box-shadow: 0 0 0 0 !important;
}

select:focus > option:checked { 
    background: #FF5F6D !important;
    color: #fff !important;
}

select option:checked,
select option:hover {
    box-shadow: 0 0 10px 100px #FF5F6D inset;
}

@media only screen and (max-width: 350px) {

    .create-txt-field2, .create-txt-field3 {
        font-size: 18px;
    }

    .create-txt-field1 {
        font-size: 30px;
    }

    .create-step1-image {
        max-width: 150px !important;
        height: 150px !important;
        margin-top: 50px !important;
    }

    .create-post-image {
        max-width: 150px !important;
        height: 150px !important;
        margin-top: 10px !important;
    }
    

    .create-form {
        padding: 5px 30px 0 30px !important;
    }

    .create-input-yt-label {
        top: -72px !important;
    }

    .create-input-yt:not(:placeholder-shown) + .create-input-yt-label {
        top:-83px !important;
        font-size: 12px;
    } 

    .create-input-yt:focus + .create-input-yt-label {
        top:-83px !important;
        font-size: 12px;
    }

    .create-input-yt {
        padding-top: 95px !important;
    }

    .create-input-yt:focus {
        padding-bottom: 18px !important;
    }

    .create-input-yt:not(:placeholder-shown) {
        padding-bottom: 18px !important;
    }

    input {
        transition: 0.5s;
    }
}

@media only screen and (max-width: 351px) {
    .img-preview {
        padding: 0 0px !important;
    }
}

@media only screen and (max-width: 576px) {
    .picture-cover{
        height: 300px!important;
    }
}

@media only screen and (max-width: 420px) {
    .picture-cover{
        height: 250px!important;
    }
}

@media only screen and (max-width: 380px) {
    .picture-cover{
        height: 200px!important;
    }
}


@media only screen and (min-width: 351px) {

    .create-form {
        padding: 5px 30px 0 30px !important;
    }

    .create-step1-image {
        max-width: 150px !important;
        height: 150px;
        margin-top: 40px;
    }

    .create-post-image {
        max-width: 150px !important;
        height: 150px;
        margin-top: 10px;
    }

    .img-preview {
        padding: 0 0px !important;
    }

    .create-txt-field2, .create-txt-field3 {
        font-size: 18px;
    }

    .create-txt-field1 {
        font-size: 30px;
    }

    .create-input-yt {
        padding-top: 70px !important;
    }

    .create-input-yt-label {
        top: -52px !important;
    }

    .create-input-yt:not(:placeholder-shown) + .create-input-yt-label {
        top:-70px !important;
        font-size: 12px;
    } 

    .create-input-yt:focus + .create-input-yt-label {
        top:-70px !important;
        font-size: 12px;
    }

    .create-input-yt:focus {
        padding-bottom: 18px !important;
    }

    .create-input-yt:not(:placeholder-shown) {
        padding-bottom: 18px !important;
    }

    input {
        transition: 0.5s;
    }
}

@media only screen and (min-width: 400px) {
    .create-mini-text {
        font-size: 8px;
    }

    .create-input-yt {
        padding-top: 45px !important;
    }

    .create-input-yt:not(:placeholder-shown) + .create-input-yt-label {
        top:-55px !important;
        font-size: 12px;
    } 

    .create-input-yt-label {
        top: -28px !important;
    }

    .create-input-yt:focus + .create-input-yt-label {
        top:-55px !important;
        font-size: 12px;
    }

    .create-input-yt:focus {
        padding-bottom: 18px !important;
    }

    .create-input-yt:not(:placeholder-shown) {
        padding-bottom: 18px !important;
    }

}

@media only screen and (min-width: 768px) {
    .create-input-yt:focus {
        padding-bottom: 0 !important;
    }

    .create-input-yt:not(:placeholder-shown) {
        padding-bottom: 0 !important;
    }

    .create-input-yt:focus + .create-input-yt-label {
        top:-52px !important;
        font-size: 12px;
    }

    .create-input-yt:not(:placeholder-shown) + .create-input-yt-label {
        top:-52px !important;
        font-size: 12px;
    } 

    .create-input-yt {
        padding-top: 0 !important;
    }
}

.back-btn {
    cursor: pointer;
    font-size: 30px;
    color: #FF5F6D;
}

.create-button-container-phone {
    display: none;
}

@media only screen and (max-width: 400px) {
    .create-button-container {
        display: none !important;
    }

    .create-button-container-phone {
        display: flex !important;
        justify-content: space-between;
        font-size: 30px;
        color: #FF5F6D;
        padding-bottom: 30px;
    }

    .back-arrow {
        margin-right: -50px;
    }

    .post-check {
        color: green !important;
    }

}

@media only screen and (min-width: 768px) {
    .create-form {
        padding:0 100px !important;
    }

    .img-preview {
        padding: 0 100px !important;
    }

    .create-post-image {
        margin-top: 60px !important;
    }

}

@media only screen and (max-width: 767px) {
    .create-image-placeholder2 {
        margin-top: 20px !important;
    }

    .create-delete-step {
        height: 35px;
    }
    
}

.alert-position {
    margin-top: 1rem;
}

.img-preview {
    padding: 0 100px;
}

.step-picture {
    width: 100%;
}


