.picture-cover{
    background-size: cover;
    background-position: center;
}

.step-picture {
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 7px darkgrey;
}


.post-step-picture {
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 7px darkslategray;
    height: 300px;
}

@media only screen and (min-width: 700px) and (max-width: 991px) {
    .post-step-picture {
        height: 400px !important;
    }
}

@media only screen and (max-width: 600px) {
    .post-step-picture {
        height: 300px !important;
    }
}

@media only screen and (max-width: 450px) {
    .post-step-picture {
        height: 200px !important;
    }
}