.picture-cover{
    background-size: cover;
    background-position: center;
}

.step-picture {
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 7px darkgrey;
}


.post-step-picture {
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 7px darkslategray;
}