.Post{
    background-color: #fafaf5
}

.title{
    font-size: 80px;
}

.authorName{
    text-align: center;
    font-weight: 500;
    color: #f15a24;
}

.avatar{
    text-align: center;
}

.info{
    border: 2px solid #f15a24;
    border-radius: 5px;
    padding: 30px;
    background-color: #ffffff;
}

.info-2{
    border: 2px solid #f15a24;
    border-radius: 5px;
    background-color: #ffffff;
}

.ingredients{
    font-size: 20px;
    flex-grow: 1;
    flex-basis: 0;
}

.ingredients p{
    padding-left: 50px;
}

@media only screen and (max-width: 768px) {
    .ingredients p{
        padding-left: 0px;
    }
    .ingredients{
        margin-top: 30px;
    }
}

.carousel-box{
    flex-grow: 1;
    flex-basis: 0;
}

.des-title{
    text-align: center;
    font-size: 40px;
    padding: 20px;
    padding-top: 30px;
    font-weight: 500;
}

.des-content{
    font-size: 20px;
    padding-top: 20px;
}

.youtube-video{
    text-align: center;
    padding: 20px;
}

.comment-div{
    border-top: 1px solid gray;
}

.des-title-orange{
    font-size: 40px;
    padding-left: 35px;
    padding-top: 20px;
    font-weight: 500;
    color: #f15a24;
}

.des-title-orange2{
    font-size: 40px;
    padding-left: 20px;
    padding-top: 20px;
    font-weight: 500;
    color: #f15a24;
}

.comment-txt{
    padding-left: 22px;
}

.comment-item{
    padding: 20px;
}

.comment-content{
    padding: 20px;
    margin-left: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

.add-comment{
    height: 40px;
    background-color: #f15a24;
    border-radius: 10px;
    margin-bottom: 30px;
    text-align: center;
    color: #ffffff;
    line-height: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.add-comment-login{
    height: 40px;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    margin-left: 20px;
    width: 100%;
}

.input-comment{
    width: 100%;
    border-radius: 10px;
    border-width: 1px;
    padding-left: 20px;
}

textarea:focus, input:focus{
    outline: none;
}

.comment-item-login{
    padding: 20px;
}

.user-name-comment{
    font-size: 20px;
    font-weight: 500;
    color: #f15a24;
}

.line{
    height: 50px;
}

.main-title{
    padding-top: 20px;
}