.post-container{
    background-color: #fafaf5
}

.post-title{
    font-size: 80px;
}

.post-author-name{
    text-align: center;
    font-weight: 500;
    color: #f15a24;
}

.post-avatar{
    text-align: center;
}

.post-info{
    border: 2px solid #f15a24;
    border-radius: 5px;
    padding: 30px;
    background-color: #ffffff;
}

.post-info-2{
    border: 2px solid #f15a24;
    border-radius: 5px;
    background-color: #ffffff;
}

.post-ingredients{
    font-size: 20px;
    flex-grow: 1;
    flex-basis: 0;
}

.post-ingredients p{
    padding-left: 50px;
}

@media only screen and (max-width: 768px) {
    .post-ingredients p{
        padding-left: 0px;
    }
    .post-ingredients{
        margin-top: 30px;
    }
}

.post-carousel-box{
    flex-grow: 1;
    flex-basis: 0;
}

.post-des-content{
    font-size: 20px;
    padding-top: 20px;
}

.post-youtube-video{
    text-align: center;
    padding: 20px;
}

.post-comment-div{
    border-top: 1px solid gray;
}

.post-des-title{
    font-size: 40px;
    padding-left: 35px;
    padding-top: 20px;
    font-weight: 500;
    color: #f15a24;
}

.post-des-title-2{
    font-size: 40px;
    padding-left: 20px;
    padding-top: 20px;
    font-weight: 500;
    color: #f15a24;
}

.post-comment-txt{
    padding-left: 22px;
}

.post-comment-item{
    padding: 20px;
}

.comment-content{
    padding: 20px;
    margin-left: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

.add-comment{
    height: 40px;
    background-color: #f15a24;
    border-radius: 10px;
    margin-bottom: 30px;
    text-align: center;
    color: #ffffff;
    line-height: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.add-comment-login{
    height: 40px;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    margin-left: 20px;
    width: 100%;
}

.input-comment{
    width: 100%;
    border-radius: 10px;
    border-width: 1px;
    padding-left: 20px;
}

textarea:focus, input:focus{
    outline: none;
}

.post-comment-item-login{
    padding: 20px;
}

.post-user-name-comment{
    font-size: 20px;
    font-weight: 500;
    color: #f15a24;
}

.post-line{
    height: 50px;
}

.post-main-title{
    padding-top: 20px;
}