.item-cover {
    width: 255px;
    height: 255px;
    background-size: cover;
    background-position: center;
    color:#fff;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }


.section-title{
    padding-left: 1rem;
    margin-top: 24px;
    font-size: 24px;
    font-weight: bold;
    color: #FF5B1B;
}

/* .container-max-custom{
    max-width: 1080px;
} */

.see-more{
    justify-content: center;
    border-bottom: 1px solid #FF5B1B;
    font-weight: bold;
    padding-bottom: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.fa-star{
    color: #FF5B1B;
    font-size: 18px;
}

.item-title{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 24px;
}

.item-author-name{
    font-size: 18px;
}

.item-date{
    font-size: 16px;
    float: right;
    padding-right: 10px;
    line-height: 24px;
}

.rating-and-date{
    margin-top: 5px;
}