.section-image-container{
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    color:#fff;
    font-size: 18px;
    position: relative;
    overflow: hidden;
}

.section-image-holder{
    width: 100%;
    border-radius: 10px;
    filter: brightness(80%);
    transition: all 1s;
    height: 185px;
}

.section-image-top-holder {
    width: 100%;
    border-radius: 10px;
    filter: brightness(80%);
    transition: all 1s;
    height: 160px;
    /* margin-top: 15px; */
}

.section-image-holder:after {
    content: "";
    padding-bottom: 100%;
}

.section-image-holder:hover{
    transform: scale(1.1);
}

.section-image-top-holder:after {
    content: "";
    padding-bottom: 100%;
}

.section-image-top-holder:hover {
    transform: scale(1.1);
}

.section-image-container .item-cover{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    transition: all 1s;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 0px!important;
}

.section-image-container .item-cover span{
    transform: scale(1);
    transition: all 1s;
    z-index: 1;
}

.image-cover {
    background-color: #000;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.section-image-container .item-cover span:hover{
    transform: scale(1.15);
    cursor: pointer;
}

.section-item-view{
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: 20px;
    font-weight: 100;
}

.like-icon {
    font-size: 24px;
}

.section-title a{
    padding-left: 1rem;
    margin-top: 24px;
    font-size: 24px;
    font-weight: bold;
    color: #FF606D;
}

.section-title:hover a{
    text-decoration: none;
    color: #FF606D;
    transform: translateY(-3px);
    transition: 1s;
}

.search-section-title a{
    font-size: 24px;
    font-weight: bold;
    color: #FF606D;
}

.search-section-title:hover a{
    text-decoration: none;
    color: #FF606D;
}

.section-title2{
    padding-left: 1rem;
    margin-top: 24px;
    font-size: 24px;
    font-weight: bold;
    color: #FF606D;
}

.section-see-more{
    justify-content: center;
    font-weight: bold;
    padding-bottom: 20px;
}

.fa-star{
    color: #FF5B1B;
    font-size: 14px;
}

.section-item-title{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
}

.section-item-title a{
    color: #212529;
}

.section-item-title:hover a{
    color: #212529;
    opacity: 0.8;
}

.section-author-name{
    font-size: 18px;
    opacity: 0.7;
}

.section-author-name a{
    color: #212529;
}

.section-author-name:hover a{
    color: #212529;
    text-decoration: none;
}

.section-author-name3{
    font-size: 12px;
}


.section-item-date{
    float: right;
    padding-right: 10px;
    line-height: 24px;
}

.section-item-date3{
    font-size: 12px;
    float: right;
    padding-right: 10px;
    line-height: 24px;
}

.section-rating-date{
    font-size: 17px;
    opacity: 0.7;
}

.section-image-container3{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    background-size: cover;
    background-position: center;
    color:#fff;
    font-size: 18px;
}


.section-image-container3 .item-cover{
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 20%);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    opacity: 0; 
    transition: all 0.5s;
    border-radius: 10px;
}

.section-image-container3:hover .item-cover{
    opacity: 1;
}

.section-image-container3 .item-cover span{
    transform: scale(0.5);
    transition: all 0.5s;
}

.section-image-container3:hover .item-cover span{
    transform: scale(1);
}

.section-item-title3{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
}


.section-title3{
    padding-left: 1rem;
    font-size: 20px;
    font-weight: bold;
    color: #FF606D;
    margin-bottom: 5px;
}

.fas.fa-heart{
    color: rgb(247, 0, 21);
}

.home-container-child{
    background-color: #ffffff;
    padding-top: 20px;
    box-shadow: 0px 0px 7px darkgrey;
    padding-bottom: 20px;
}

.image-home {
    position: absolute;
    top: 100px;
}

@media only screen and (max-width: 576px) {
    .home-container-child{
        padding-top: 94px;
    }

    .food-item {
        padding-left: 45px !important;
        padding-right: 45px !important;
    }
}


@media (min-width: 576px){
    .container {
        max-width: 1140px!important;
    }
}

@media only screen and (max-width: 991px) {
    .section-image-holder {
        height: 337px;
    }
}

@media only screen and (max-width: 910px) {
    .section-image-holder {
        height: 304px;
    }
}

@media only screen and (max-width: 850px) {
    .section-image-holder {
        height: 285px;
    }
}

@media only screen and (max-width: 768px) {
    .section-image-holder {
        height: 254px;
    }

    .section-image-top-holder {
        height: 247px;
    }
}

@media only screen and (max-width: 650px) {
    .section-image-holder {
        height: 210px;
    }

    .section-image-top-holder {
        height: 210px;
    }
}

@media only screen and (max-width: 576px) {
    .section-image-top-holder {
        height: 137px;
    }
}

@media only screen and (max-width: 575px) {
    .section-image-holder {
        height: 386px;
    }

    .section-image-top-holder {
        height: 341px;
    }
}

@media only screen and (max-width: 500px) {
    .section-image-holder {
        height: 330px;
    }

    .section-image-top-holder {
        height: 285px;
    }
}

@media only screen and (max-width: 450px) {
    .section-image-holder {
        height: 292px;
    }

    .section-image-top-holder {
        height: 247px;
    }
}

@media only screen and (max-width: 420px) {
    .section-image-holder {
        height: 277px;
    }

    .section-image-top-holder {
        height: 209px;
    }
}

@media only screen and (max-width: 375px) {
    .section-image-holder {
        height: 217px;
    }

    .section-image-top-holder {
        height: 172px;
    }
}


