.custom-div{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.custom-image{
    width: 400px;
    height: 250px!important;
}

.txt-description{
    font-size: 20px;
}

.padding-custom{
    padding-left: 0px;
    padding-right: 0px;
}

.line-bottom{
    border-bottom: 1px solid #c0c2c3;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}