.head-navbar {
    display: flex;
    align-items: center;
    padding: 6px 0;
    background: -webkit-linear-gradient(left,#ff5f6d, #fcb69f);
    position: fixed;
    width: 100%;
    z-index: 100;
}

.nav-links {
    display: flex;
    align-items: center;
    width: 35%;
    margin-bottom: 0;
}

.nav-links li {
    list-style: none;
    padding-left: 20px;
}

.nav-links a {
    color: #ffffff;
}

.form-search-container {
    flex-grow: 3;
}


.navbar-containter {
    margin-top: 1rem;
}

.topmenu-logo-container {
    flex-grow: 1;
    text-align: center;
}

.topmenu-add-container{
    flex-grow: 2;
    text-align: right;
}

.topmenu-avatar{
    flex-grow: 1;
}

.nav-add-without-txt {
    width: 36px;
    height: 36px;
}

.topmenu-plus{
    width: 20px;
    margin-left: 10px;
    padding-bottom: 2px;
}

.nav-add {
    /* width: 168px;
    height: 36px; */
    background-color: transparent;
    color: #ffffff;
    font-size: 20px;
    border-radius: 27px;
    padding: 6px 26px;
    border: 1.5px solid #ffffff;
    cursor: pointer;
    font-size: 1rem;
}

.nav-add:focus{
    outline: none!important;
    /* position: relative;
    top: -5px; */
}

.nav-bar-avatar {
    border-radius: 50%;
    max-height: 50px;
    max-width: 50px;
    cursor: pointer;
}


@media (max-width: 575.98px) {
    .nav-add {
        display: none;   
  }
}

@media (min-width: 575.99px) {
    .nav-add-without-txt {
        display: none;   
  }
}


.topmenu-placeholder {
    color: #ffffff!important;
    border: 1.5px solid #ffffff!important;
    background-color: transparent!important;
    border-top-left-radius: 15px!important;
    border-bottom-left-radius: 15px!important;
    
}

.topmenu-placeholder::placeholder{
    color: #ffffff!important;
}

.input-group{
    width: 100%!important;
}

.input-group-text{
    border-top-right-radius: 15px!important;
    border-bottom-right-radius: 15px!important;
    background-color: transparent!important;
    border: 1.5px solid #ffffff!important;
    border-left-width: 0px!important;
    color: #ffffff!important;
}

.topmenu-bg{
    background-color: #ffffff;
}

.nav-padding {
    padding: 0;
}

.logo-padding {
    padding: 0;
}

.topmenu-margin-auto{
    margin: 0 auto;
}

.topmenu-hidden-link{
    display: none;
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    border-bottom: 1px solid #E5E9EF;
}

.topmenu-abs-div{
    position: absolute;
    width: 130px;
    right: 0px;
    top: 62px;
    background-color: #ffffff;
    z-index: 9999;
}

.topmenu-link{
    display: block;
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    border-bottom: 1px solid #E5E9EF;
    cursor: pointer;
}

.topmenu-link:hover{
    display: block;
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    border-bottom: 1px solid #E5E9EF;
    cursor: pointer;
    background-color: #838E95;
}

.topmenu-li:focus{
    outline: none!important;
}