.head-navbar {
    padding: 12px 0;
    background: -webkit-linear-gradient(left,#ff5f6d, #fcb69f);
    position: fixed;
    width: 100%;
    z-index: 100;
}

.nav-links {
    display: flex;
    align-items: center;
    width: 35%;
    margin-bottom: 0;
}

.nav-links li {
    list-style: none;
    padding-left: 20px;
}

.nav-links a {
    color: #ffffff;
}

.form-search-container {
    flex-grow: 3;
}


.navbar-containter {
    margin-top: 1rem;
}

.topmenu-logo-container {
    flex-grow: 1;
    text-align: left;
}

.topmenu-add-container{
    flex-grow: 2;
    text-align: right;
}

.topmenu-avatar{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.topmenu-container{
    display: flex;
    align-items: center;
}

.nav-add-without-txt {
    width: 36px;
    height: 36px;
}

.topmenu-plus{
    width: 20px;
    margin-left: 10px;
    padding-bottom: 2px;
}

.nav-add {
    /* width: 168px;
    height: 36px; */
    background-color: transparent;
    color: #ffffff;
    font-size: 20px;
    border-radius: 27px;
    padding: 6px 26px;
    border: 1.5px solid #ffffff;
    cursor: pointer;
    font-size: 1rem;
}

.nav-add:focus{
    outline: none!important;
    /* position: relative;
    top: -5px; */
}

.nav-bar-avatar {
    border-radius: 50%;
    max-height: 50px;
    max-width: 50px;
    cursor: pointer;
}


@media (max-width: 575.98px) {
    .nav-add {
        display: none;   
  }
}

@media (min-width: 575.99px) {
    .nav-add-without-txt {
        display: none;   
  }
}


.topmenu-placeholder {
    color: #ffffff!important;
    border: 1.5px solid #ffffff!important;
    background-color: transparent!important;
    height: inherit!important;
    
}

.topmenu-placeholder::placeholder{
    color: #ffffff!important;
}

.input-group{
    width: 100%!important;
}

.input-group-text{
    border-top-right-radius: 15px!important;
    border-bottom-right-radius: 15px!important;
    background-color: transparent!important;
    border: 1.5px solid #ffffff!important;
    border-left-width: 0px!important;
    color: #ffffff!important;
}

.input-group-category{
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    border-top-left-radius: 15px!important;
    border-bottom-left-radius: 15px!important;
    background-color: transparent!important;
    border: 1.5px solid #ffffff!important;
    color: #ffffff!important;
    border-right-width: 0px!important;
}

.topmenu-category-dropdown{
    cursor: pointer;
}

.topmenu-bg{
    background-color: #ffffff;
}

.nav-padding {
    padding: 0;
}

.logo-padding {
    padding: 0;
}

.topmenu-margin-auto{
    /* margin: 0 auto; */
}
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #ffffff;
    position: relative;
    top: -10px;
    right: -50px;
  }
.topmenu-hidden-link{
    display: none;
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    border-bottom: 1px solid #E5E9EF;
}

.top-cate-item{
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ff5f6d;
    cursor: pointer;
    text-align: center;
}

.top-cate-item:hover{
    background-color: #ff5f6d;
    color: #ffffff;

}

.topmenu-abs-div{
    position: absolute;
    /* width: 200px; */
    top: 74px;
    background-color: #ffffff;
    z-index: 9999;
    border-left: 1px solid #f9f7f2;
    border-right: 1px solid #f9f7f2;
    border-bottom: 1px solid #f9f7f2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}

.topmenu-category-abs{
    position: absolute;
    padding-top: 5px;
    padding-bottom: 5px;
    top: 62px;
    background-color: #ffffff;
    border: 1px solid #ff5f6d;
    z-index: 9999;
    max-width: 600px!important;
    border-radius: 10px;
}

.topmenu-abs-con{
    border-bottom: 1px solid rgba(25, 25, 25, 0.3);
    margin: 0px 15px;
}

.topmenu-userp-link{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.topmenu-abs-ava{

}

.topmenu-abs-text{
    padding-left: 10px;
    padding-top: 5px;
}

.topmenu-abs-fullname{
    font-weight: bold;
}

.topmenu-abs-email{
    font-size: 11px
}

.topmenu-to-setting{
    text-align: center;
    padding-bottom: 10px;
}

.topmenu-btn{
    background-color: #FF606E;
    color: #ffffff;
    border-radius: 10px!important;
    width: 110px;
}

.topmenu-btn:hover{
    background-color:#FCB59F;
}

.topmenu-logout-link{
    margin: 0px 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.topmenu-logout-link:hover{
    color: #FCB59F;
}

.topmenu-link{
    display: block;
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    border-bottom: 1px solid #E5E9EF;
    cursor: pointer;
}

.topmenu-abs-div a{
    color: black;
    text-decoration: none;
    
}

.topmenu-abs-div a:hover{
    color: black;
    text-decoration: none;
    
}

.topmenu-link:hover{
    display: block;
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    border-bottom: 1px solid #E5E9EF;
    cursor: pointer;
    background-color: #838E95;
}

.topmenu-li:focus{
    outline: none!important;
}

.cate-item-border{
    border-right: 1px solid #FCBFAE;
}

@media only screen and (max-width: 350px) {

    .cate-item-border {
        border-right: none;
        
    }

    .topmenu-category-abs {
        position: absolute;
        padding-top: 5px;
        padding-bottom: 5px;
        top: 55px;
        background-color: #ffffff;
        border: 1px solid #ff5f6d;
        z-index: 9999;
        max-width: 150px !important;
        border-radius: 10px;
        /* margin-left: 0px !important; */
        margin-left: -40px !important;
        margin-top: 10px;

    }
}

@media only screen and (min-width: 351px) {
    .topmenu-category-abs {
        margin-left: -38px !important;
        max-width: 250px !important;
        margin-top: 3px;

    }
}
@media only screen and (min-width: 601px) {
    .topmenu-category-abs {
        max-width: 450px !important;
    }
}

@media only screen and (min-width: 901px) {
    .topmenu-category-abs {
        max-width: 600px !important;
    }
}

@media only screen and (max-width: 576px) {
    .topmenu-dropdown-txt{
        display: none;
    }
    .topmenu-logo-container img{
        width: 50px!important;
        height: 40px!important;
    }
    .topmenu-avatar .avatar-cover{
        width: 40px!important;
        height: 40px!important;
    }
    .topmenu-category-dropdown{
        width: 90%!important;
        margin: 0 auto;
    }
    .topmenu-add-container{
        padding-right: 10px;
    }
    .head-navbar{
        padding: 17px 0;
    }
}